<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.ylfjm.mapper.DepartmentMapper">

    <select id="page" resultMap="userListByDeptId">
        select
        d.id as dept_id,
        d.`name`
        from system_department d
        where 1=1
        <if test="name!=null and name!=''">
            and d.`name` like CONCAT('%', #{name}, '%')
        </if>
    </select>

    <resultMap id="userListByDeptId" type="com.github.ylfjm.pojo.po.Department">
        <result column="dept_id" property="id" jdbcType="INTEGER"/>
        <collection property="userList" ofType="com.github.ylfjm.pojo.po.Admin" select="selectAdminByDeptId" column="dept_id">
            <result column="dept_id" property="deptId" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <select id="selectAdminByDeptId" parameterType="java.lang.Integer" resultType="com.github.ylfjm.pojo.po.Admin">
        select
        id,
        real_name
        from system_admin
        where dept_id = #{dept_id}
    </select>

    <select id="list" resultMap="userListByDeptId">
        select
        d.id as dept_id,
        d.`name`
        from system_department d
    </select>

</mapper>
