<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.github.ylfjm.mapper.TaskMapper">

    <select id="selectPage" resultType="com.github.ylfjm.pojo.po.Task">
        select * from task where deleted = 0
        <if test="statusList!=null and statusList.size>0">
            and status in
            <foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="developer!=null and developer!=''">
            and (
            pd_designer = #{developer}
            or ui_designer = #{developer}
            or web_developer = #{developer}
            or android_developer = #{developer}
            or ios_developer = #{developer}
            or server_developer = #{developer}
            or tester = #{developer}
            )
        </if>
    </select>

</mapper>